@import "tailwindcss";

:root {
  --background: #f0f0f0;
  --cards: #f9f9f9;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-cards: var(--cards);
  --shadow-XXL: 0 10px 30px rgba(0, 0, 0, 0.25);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
